*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #f8c669;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none
};

.container-slide{
    display:flex;
    justify-content:center;
    width: 100vw;
    height: 65vh;
    background-color: rgb(137, 194, 194);
    border-radius: 8px;
    box-shadow: 0 10px 30px black;
}

.container-items {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    transition: all 1s;
    overflow: hidden;
}


.item {
    width: 100vw;
    height: 65vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: 0%;
}

.item img {
    width: 40vw;
    height: 65vh;
}

.action-button {
    font: bold 30px sans-serif;
    z-index: 1;
    display: flex;
    align-items:center;
    justify-content: center;
    color: black;
    user-select: none;
    width: auto;
}

.action-button:hover{
    cursor: pointer;
    background-color: #00000099;
    transition: all 1s;
    border-radius: 10px;
    color: #fff;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-country {
    padding: 10px;
}

#previous {
    cursor: pointer;
    background-color: #A2D0B1;
    padding: 5px;
}

#next{
    cursor: pointer;
    background-color: red;
    padding: 5px;
}

.title-fun-facts {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

article {
    width: 33vw;
    height: 30vh;
    display: flex;
    align-items: center;

}

.flag-part-1 {
    background-color: #A2D0B1;
    padding: 15px;
}

.flag-part-2 {
    padding: 15px;
}

.flag-part-3 {
    background-color: red;
    padding: 15px;
}

.title-culinary {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.content-culinary {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fad590;
}

.gelato div {
    width: 20vw;
    background-color: rgb(247, 148, 148);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;

}

.pasta div {
    width: 20vw;
    background-color: rgb(249, 240, 162);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;
}

.pizza div {
    width: 18vw;
    background-color: rgb(193, 247, 148);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;
}

.cheese div {
    width: 30vw;
    background-color: rgb(169, 148, 247);
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin: 10px;
}

.gelato img {
    width: 16vw;
}

.pasta img {
    width: 16vw;
}

.pizza img{
    width: 14vw;
}

.cheese img{
    width: 25vw;
}

footer {
    margin-top: 25px;
    text-align: center;
    background-color: #f8c669;
}


